<div class="full-width full-height">
  <div class="app-header display-flex -row -center">
    <span class="header-title display-flex -center">
      Angular Chatbot Example
    </span>
    <div class="header-actions display-flex -center">
        <div class="chat-buttons">
          <div class="button-container">
            <input id="fixed-chat" type="radio" name="display-button" value="{{displayType.Fixed}}" routerLink="{{displayType.Fixed}}" [checked]="display === displayType.Fixed"/>
            <label for="fixed-chat">Fixed</label>
          </div>
          <div class="button-container">
            <input id="collapsible-chat" type="radio" name="display-button" value="{{displayType.Collapsible}}" routerLink="{{displayType.Collapsible}}" [checked]="display === displayType.Collapsible"/>
            <label for="collapsible-chat">Collapsible</label>
          </div>
        </div>
    </div>
    <div class="app-socials display-flex full-height">
      <div class="socials-icons display-flex -column -center full-height">
        <div class="display-flex -center">
          <img class="icon" src="./assets/github-logo.png" (click)="onClickRedirectGithub()">
        </div>
        <div class="display-flex -center">
          <img class="icon" src="./assets/mail.png" [cdkCopyToClipboard]="email" (click)="onClickCopyEmail()">
          <span class="copy-alert" *ngIf="copyEmail">Copied email!</span>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>