@import '/src/colors';

.app-header {
    height: 15%;
    background-color: $black;
    justify-content: space-between;
    padding: 0 16px;

    .header-title {
        text-align: center;
        height: 100%;
        color: $white;
        font-size: 20px;
    }

    .header-actions {
        .chat-buttons {
            gap: 40px;
            height:30%;
            border-radius: 0px;
            border: none;

            .option-button {
                background-color: #ffffff;
                color: $black;
                min-width: 120px;
            }
        }
    }

    .app-socials {
        .socials-icons{
            gap: 20%;
        }

        .icon {
            -webkit-filter: invert(100%);
            filter: invert(100%);
            width: 20%;
            cursor: pointer;
        }

        .copy-alert {
            position: absolute;
            right: 5%;
            width: 10%;
            color: $white;
            animation:copy-alert 2s 1;
            -webkit-animation:copy-alert 2s 1;
            animation-fill-mode: forwards;
        
            animation-delay:2s;
            -webkit-animation-delay:1s; /* Safari and Chrome */
            -webkit-animation-fill-mode: forwards;
        }
        
        @keyframes copy-alert{
            from {opacity :1;}
            to {opacity :0;}
        }
        
        @-webkit-keyframes copy-alert{
            from {opacity :1;}
            to {opacity :0;}
        }
    }    
}